<!DOCTYPE html>
<html>
  <head>
    <title>Custom Filters</title>
    <script src="lib/angular.js"></script>
    <script src="js/demo.js"></script>
    <script src="js/yoify.js"></script>
  </head>
  <body ng-app="app" ng-controller="catController">

    <input ng-model="kitten"/>
    {{kitten}}

    <!-- <input type='range' min='0' max='20' ng-model='minVal' />{{minVal}}
    <br />
    {{numbers | min:minVal}} -->

  </body>
</html>




<!--

uppercase
yoify

-->
















<!--
<input type='range' min='0' max='30' ng-model='age'>{{age}}
<ul>
  <li ng-repeat='cat in cats | minAge:age'>
    {{cat}}
  </li>
</ul>
-->
